/* ---------- RESET ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Baloo Bhaina 2", cursive;
}
/* ---------- RESET ---------- */
/* ---------- HEADER ---------- */
.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 4.5rem;
  background-color: #7e3f8f;
  margin-bottom: 1rem;
}
.header_name,
.header_logo,
.header_menu {
  height: 100%;
  position: relative;
}
.appName,
.appLogo,
.appMenu {
  text-decoration: none;
  display: inline;
  font-size: 1.5rem;
  color: #ffffff;
  font-style: italic;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
}
.appMenu {
  text-transform: capitalize;
}
/*sakrij plavu boju na klik*/
.appName, .appLogo, .appMenu, .create, .account, .singleStack_button, .close_container,  .modal_btn, .singleTask_button{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}
/*sakrij plavu boju na klik*/
.appName_cards {
  color: #ff958c;
}
/*heading operations*/
.appName:hover {
  cursor: pointer;
  color: #ff958c;
  letter-spacing: 0.1rem;
}
.appName:hover .appName_cards {
  color: #ffffff;
}
/*heading operations*/
/*logo operations*/
.appLogo:hover {
  color: #ff958c;
  font-size: 1.7rem;
}
/*logo operations*/
/*menu operations*/
.appMenu:hover {
  cursor: pointer;
}
/*menu operations*/
/* ---------- HEADER ---------- */
/* ---------- MENU ---------- */
.menu {
  background-color: #ffffff;
  position: absolute;
  display: block;
  right: 0;
  overflow: hidden;
  transition: all 0.3s;
  margin: 0 auto;
  text-align: center;
}
.showmenu{
 width: 35.3%;
 padding-bottom: 1rem;
}
.hidemenu {
 width: 0;
}
/* --- Slider menu ---*/
.menu_content{
display: grid;
 text-align: center;
 border-radius: .5rem;
 margin-bottom: 1rem;
padding: .5rem;
box-shadow: -3px 4px 5px 0px rgba(189,183,189,1);
width: 80%;
margin: 0 auto;
 z-index: 999;
}
.flashcard_create, .account_settings, .singleStack_button, .singleTask_button{
 margin-bottom: .5rem;
 text-transform: uppercase;
 font-size: 1.3rem;
 border: .5px solid #cccccc;
 border-radius: .5rem;
 padding:.1rem;
 transition: all .3s;
 z-index: 998;
}
.flashcard_create:hover, .account_settings:hover, .singleStack_button:hover, .singleTask_button:hover{
 cursor: pointer;
 background: #7e3f8f;
}
.account_settings:hover .userIcon{
 color: #ff958c;
}
.create, .account{
  text-decoration: none;
  color: #000000;
}
.flashcard_create:hover > .create, .account_settings:hover > .account{
  color: #ffffff;
}
/* --- Slider menu ---*/
/* ---------- MENU ---------- */

/* ---------- STACK AREA ---------- */
.stackArea, .taskArea{
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
}
.singleStack, .singleTask{
  border: 1px solid #000000;
  border-radius: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #000000;
  padding: .5rem;
}
.singleStack_name, .singleTask_name{
  text-transform: uppercase;
}
.taskNumber, .singleTask_taskNumber{
  color: #E85F5C;
}
.singleStack_button, .singleTask_button{
text-decoration: none;
background-color: #ffffff;
font-weight: bold;
outline: none;
color: #000000;
}
.singleStack_button:hover, .singleTask_button:hover{
  color: #ffffff;
}
/* ---------- STACK AREA ---------- */
/* ---------- MODAL ---------- */
.modal{
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /*border: 1px solid red;*/
  width: 95%;
  height: 95%;
  background-color: #7e3f8f;
  transition: all .3s;
}
.modal_container{
  position: relative;
  height: 100%;
  border: 1px solid #000000;
  box-shadow: 0 .5rem 1rem #000000;
}
.close_container{
  position: absolute;
  /*border: 1px solid red;*/
  top: 1rem;
  right: 1rem;
}
.close{
  font-size: 5rem;
  transition: all .3s;
}
.close:hover{
  color: red;
  cursor: pointer;
}
.modal_details{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: .5rem;
  background-color: #ffffff;
  padding: 1rem;
}
.modal_name{
  font-size: 1.5rem;
}
.modal_input{
  border-radius: .5rem;
  outline: none;
  margin-bottom: 1rem;
  padding: .5rem;
}
.modal_btn{
  border: 1px solid #000000;
  border-radius: .5rem;
  padding: .5rem;
  background-color: #ffffff;
  transition: all .3s;
  outline: none;
}
.modal_btn:hover{
  background-color: red;
  color: #ffffff;
  cursor: pointer;
}
/* ---------- MODAL ---------- */

/* ---------- OPERATIONS ---------- */
.hide{
  display: none;
}
.show{
  display: block;
  animation: showAnimation 1s;
}
@keyframes showAnimation{
  0%{
    transform: translate(-3000px, -50%);
  }
  100%{
    transform: translate(-50%, -50%);
  }
}
/* ---------- OPERATIONS ---------- */

/* ---------- MEDIA Q ---------- */
@media screen and (min-width:650px){
  .menu_content{
  grid-template-columns: 1fr 1fr;
 }
 .flashcard_create, .account_settings{
  margin-right: .5rem;
 }
 .stackArea, .taskArea{
  grid-template-columns: 1fr 1fr;
}
.singleStack_name, .singleTask_name{
  text-align: center;
}
.singleStack_taskNumber, .singleTask_taskNumber{
  text-align: center;
}
.singleStack_buttons, .singleTask_buttons{
  text-align: center;
}
.singleStack, .singleTask{
  margin-bottom: 1rem;
  margin-right: .5rem;
}
}
@media screen and (min-width:950px){
 .stackArea, .taskArea{
  grid-template-columns: 1fr 1fr 1fr;
}
}
/* ---------- MEDIA Q ---------- */